@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss style apply */

.grid-2 {
	@apply grid grid-cols-1 lg:grid-cols-2 gap-6;
}

.grid-3 {
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-center items-center;
}

.grid-4 {
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 justify-center items-center;
}

.grid-4-footer {
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 justify-center;
}
.flex-between {
	@apply flex justify-between items-center;
}

.flex-center {
	@apply flex justify-center items-center;
}

.heading-responsive {
	@apply mb-12 flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-4;
}

:root {
	--primaryColor: #0f5e53;
	--secondryColor: #d6a753;
	--tertiaryColor: #96e4fe;
	--bgColor: #f5f7fa;
	--whiteColor: #fff;
	--bgColor: #f7f7f7;
	--blackColor: #000;
	--grayColor: #4b5563;
	--fiftypx: 50px;
	--thirtyfivepx: 35px;
	--thirtypx: 30px;
	--twentyfourpx: 24px;
	--twentypx: 20px;
	--sixteenpx: 16px;
	--fourteenpx: 14px;
	--twelvepx: 12px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	/* border: 1px solid red; */
}
/* CSS */

.cta-2 {
	background-color: var(--primaryColor);
	border: 2px solid var(--secondryColor);
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: var(--whiteColor);
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
	padding: 0 18px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.cta-2:active {
	box-shadow: var(--secondryColor) 2px 2px 0 0;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.cta-2 {
		min-width: 120px;
		padding: 0 25px;
	}
}

/* CSS */
.cta {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.cta:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.cta {
		padding: 0.25em 0.75em;
	}
}
a {
	text-decoration: none;
}

h1 {
	font-size: var(--fiftypx);
	font-weight: 600;
}

h2 {
	font-size: var(--thirtypx);
	font-weight: 500;
}

h3 {
	font-size: var(--twentyfourpx);
	font-weight: 400;
}

h4 {
	font-size: var(--twentypx);
}
h5 {
	font-size: var(--sixteenpx);
}

h6 {
	font-size: var(--fourteenpx);
}

p {
	font-size: var(--fourteenpx);
	font-weight: 300;
}

::placeholder {
	font-size: var(--fourteenpx);
}

label {
	font-size: var(--twelvepx);
	font-weight: 500;
}

section {
	padding: 40px 3%;
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: var(--thirtyfivepx);
	}
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: var(--twentyfourpx);
	}
	h3 {
		font-size: var(--twentypx);
	}

	h4 {
		font-size: var(--sixteenpx);
	}

	h5 {
		font-size: var(--fourteenpx);
	}

	.cta {
		font-size: var(--fourteenpx);
		padding: 10px 12px;
	}
}

/* CSS */
.cta {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.cta:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.cta {
		padding: 0.25em 0.75em;
	}
}

.center {
	padding: 2rem;
	text-align: center;
}
section {
	animation: aos 0.5s linear;
	padding: 20px 4%;
}

footer {
	padding: 0 4%;
}

@keyframes aos {
	from {
		opacity: 0;
		transform: translate(0, 10px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes counter {
	from {
		color: var(--secondryColor);
		filter: brightness(50%);
	}
	to {
		color: var(--primaryColor);
		filter: brightness(100%);
	}
}
